@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,700;1,900&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #eaeaea;
    background-color: #242424;
    font-weight: 600;
}

.web-title{
    font-size: 3rem;
}

.flexbox-lg{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flexbox-sm{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
}

.shop-card{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 18rem;
    height: 25rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 106%;
    background-position: top;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.2);
    transition: 300ms;
}

.shop-card:hover{
    background-size: 116%;
}

.card-inner{
    position: relative;
    width: 100%;
    height: 9rem;
    font-size: 22px;
    background-color: #2b2b2b;
    padding: 1rem;
    top: 58px;
    transition: 300ms;
    font-weight: 800;
}

.card-price{
    font-weight: 400;
}

.card-inner:hover{
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
    position: relative;
    top: 0;
}

.cart-btn{
    position: relative;
    background-color: #8876ff;
    border: none;
    font-weight: 600;
    border-radius: 8px;
    padding: 0.625rem 1.125rem 0.625rem 1.125rem;
    margin-top: 1.425rem;
    transition: 300ms;
    box-shadow: 0 2px 8px #0000007a;
}

.cart-btn:hover{
    background-color: #7b6be5;
}

.cart-btn:active{
    transition: 100ms;
    background-color: #6e5ed3;
    box-shadow: 0 2px 4px #0000007a;
}



